<a href="https://colab.research.google.com/github/MichaelPablo8261/CPEN-21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pablo, Michael M.
##BSECE 2-2
## Week 12 Assessment

## For loop

Example 1

In [ ]:
week=["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 (Break statement)

In [ ]:
week=["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday"]
for x in  week:
  print(x)
  if x == "Thursday":break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 (Break Statement)

In [ ]:
week=["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break 
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4 (Looping through string)

In [ ]:
for x in "week":
  print(x)

w
e
e
k

##The Range Function

In [ ]:
for x in range (6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range (2,10):
  print (x)

2
3
4
5
6
7
8
9

##Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits= ["apple","banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## While Loop

In [ ]:
i= 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

##Break Statement

In [ ]:
i= 1
while i<6:
  print(i)
  if i==3:break
  i+=1

1
2
3

##Continue Statement

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:continue
  print(i)

1
2
4
5
6

## Else statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6



##Apllication 1:

In [ ]:
##Create a Python program that displays Hello 0 to hello 10
hello=["hello"]
numbers=["1","2","3","4","5","6","7","8","9","10"]
for x in hello:
  for y in numbers:
    print(x,y)

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

##Application2:

In [ ]:
## Create a phython program that displays intergers less than 10 but not less than 3
i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9